name: Build Projects

on:
  push:
    branches:
    - dev.add-build-project-action

jobs:
  build-pattern-lib:
    name: Build 'pattern-lib' project
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      with:
        sparse-checkout: pattern-lib

    - name: List workspace content
      run: ls -a .
