name: Build Projects

on:
  push:
    branches:
    - dev.add-build-project-action

jobs:
  build-pattern-lib:
    name: Build 'pattern-lib' project
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      with:
        sparse-checkout: pattern-lib

    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@v3
      with:
        build-scan-publish: true
        build-scan-terms-of-use-url: 'https://gradle.com/terms-of-service'
        build-scan-terms-of-use-agree: 'yes'

    - name: List workspace content
      run: ls -a .
